
# Created by https://www.gitignore.io/api/r,macos
##Folders to ignore and internal files
/Data/2021-01-31_CO_Bogota_Mobility_Report_en.pdf
/Data/covida_dta.Rds
/Data/Datos_Salesforce_treated_CDR_act.dta
/Data/Datos_Salesforce_treated_feb19_clean.dta
/Data/Figura2_dta/
/Data/Figura3_dta/
/Data/Ocupacion_desag_epid_week.xlsx
#/Data/Region_Mobility_Report_CSVs
/Data/Region_Mobility_Report_CSVs.zip
/Data/casos_ocupaciones_bogota_feb_1_0.xlsx
/Data/cats_new_fixed.dta
/Data/files.txt
/Data/sds_dta_Pre_github.dta
/Data/sds_dta_old.dta
/Data/sivigila
/Data/stratum_all.dta
/Data/temp
/Data/iceberg_stratum.xls
/Data/pcr_sensitivity.dta
/Data/localidad_formaps.dta

/Feedback Iceberg Paper/
/Figuras_PPT/
/Icon/
/Our paper in PDF/
/Papers/ 
/Results_tables/
/Submission/
/file_structure.txt/
/temp/

views/*
views

/Code/deprecated/
/Code/testing_codes/
/Code/deprecated_bootstrap/
/Code/README_internal.md
notes.txt
/lit_PCR/
/Nature Comms Revisions/

/Code/_internal_cleaning/



### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon*

### R ###
# History files
.Rhistory
.Rapp.history
.Rout
# Session Data files
.RData
.RDataTmp
# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/


# End of https://www.gitignore.io/api/r,macos
.Rproj.user

